ion-card {
  --ion-background-color: #eefca9;
}

ion-button {
  --background: #83cc61;
  color: white;
}

ion-card-header {
  background-color: #83cc61;
}

ion-card-title {
  color: white;
}

.label {
  color: #3e6545;
}

ion-item.item-has-focus > ion-label{
  color: #3e6545 !important;
}

.focused {
  color: #5a9e7c;
  --highlight-background: #5a9e7c;
}
