div {
  background-color:darkseagreen;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2, p {
  text-align: center;
  padding-bottom: 15px;
  color: white;
}

a {
  color: aqua;
}


