<div >
  <h2>Prijavljivanje</h2>

  <ion-item name="username">
    <ion-label position="floating">
      <ion-icon name="person"></ion-icon>
      Korisnicko ime
    </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <br>
  <ion-item name="password">
    <ion-label position="floating">
      <ion-icon name="lock-closed"></ion-icon>
      Sifra
    </ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" color="success" fill="solid" >Prijavi se</ion-button>
  <p> Nemate nalog? <a (click)="register()">Registracija.</a></p>
</div>
