<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-margin-vertical ion-text-center">Izmenite karticu</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item class="focused" name="question">
      <ion-label class="label" position="floating">
        <ion-icon name="help-outline"></ion-icon>
        Pitanje:
      </ion-label>
      <ion-input type="text" value="{{question}}"></ion-input>
    </ion-item>
    <br>
    <ion-item class="focused" name="answer">
      <ion-label class="label" position="floating">
        <ion-icon name="document-text-outline"></ion-icon>
        Odgovor
      </ion-label>
      <ion-textarea value="{{answer}}"></ion-textarea>
    </ion-item>
    <br>
    <ion-row>
      <ion-col col-6>
        <ion-button expand="block" fill="solid" (click)="dismissModal()">Izadji</ion-button>
      </ion-col>

      <ion-col col-6>
        <ion-button expand="block" fill="solid" (click)="dismissModal()">Sacuvaj</ion-button>
      </ion-col>
    </ion-row>

  </ion-card-content>
</ion-card>
