ion-checkbox {
  --border-radius: 50%;
}

div {
  background-color:darkseagreen;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2, p {
  text-align: center;
  padding-bottom: 15px;
  color: white;
}

.roundUp {
  border-radius: 10px 10px 0px 0px;
}

.link {
  color: wheat;
  text-decoration: none;
}

.roundDown {
  border-radius:0px 0px 10px 10px ;
}
